*{
	margin:0px;
	padding:0px;
}

.clear{clear:both;}

@font-face
{
font-family: deadspace;
src: url('../images/DeadSpace.ttf');
}
@font-face
{
font-family: spaceage;
src: url('../images/space age.ttf');
}

body{
	background-color:black;
}

#index-page{
	font-family:spaceage;
	color:#fff;
	text-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 10px #49fb35, 0 0 20px #49fb35;
}

#index-page #title{
	width:100%;
	text-align:center;
	font-family:deadspace;
	font-size:6em;
	text-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 10px #fff, 0 0 20px #6F00FF, 0 0 30px #6F00FF, 0 0 40px #6F00FF;
}